<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand">非洲援助專案募資平台</a>
        </br>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/" id="mainpage">home</a>
              <a class="nav-link" href="/items/story" id="story">緣起</a>
              <a class="nav-link" href="/items" id="mainpage">Programs</a>
              <a class="nav-link" href="/items/uploadpage" id="uploadpage">上架</a>
              <a class="nav-link" href="/items/account" id="account">餘額</a>
              <a class="nav-link"  href="/items/loginpage">登入</a>
            </div>
          </div>
        </div>
      </nav>