<% layout('/layouts/boilerplate')%> 

<div class="header">
    <h1 id="accountStatus">帳戶狀態:</h1>
    <p id="ethBalance">以太帳戶餘額 (ETH): </p>
    <p id="accountTokenBalance">Token帳戶餘額: </p>
    <br>
    <button id="update">更新帳戶餘額</button>
</div>
