<% layout('/layouts/boilerplate')%> 
  <main class="container">
          <div class="row">
              <h3 class="text-center">Login</h3>
              <div class="col-6 offset-3">
                <div class="mb-3">
                <label class="form-label" for="address">帳號</label>
                <input id="loginaccount" type="text" class="form-control" placeholder="Address"></input>
                </div>
                <div class="mb-3">
                <label class="form-label" for="key">帳戶金鑰</label>
                <input id="loginpassword" type="text" class="form-control" placeholder="Private Key"></input>
                </div>
                <div class="mb-3">
                <button class="btn btn-success" id="login">Login</button>
                </div>
                </div>
            </div>
  </main>

